/*font Variables*/
/*=================== fonts ====================*/
@font-face {
  font-family: 'Inter';
  src: url("../../assets/fonts/fonts/Manrope-Regular.ttf"); }
body {
  font-family: "Inter", sans-serif !important;
  background: #fafafa; }

.button-asik-border-white {
  background: none !important;
  border: 1px solid #FFFFFF !important;
  color: #fff !important;
  border-radius: 14px !important;
  width: 100% !important; }
  .button-asik-border-white:hover {
    background: #1588DB !important;
    border: 1px solid #1588DA !important; }
  @media screen and (max-width: 599px) {
    .button-asik-border-white {
      font-size: 8px !important; } }

.asik-breadcrumbs {
  margin: 13% 0 5% 0; }
  @media screen and (max-width: 599px) {
    .asik-breadcrumbs {
      margin: 40% 0 15% 0 !important; } }
  .asik-breadcrumbs .no-button {
    background: transparent; }
  .asik-breadcrumbs .active-page {
    background: #DBF0FF;
    border-radius: 14px;
    color: #1588DA; }

.text-capitalize {
  text-transform: capitalize; }

.test {
  width: 33%; }

.list-alfabet {
  list-style-type: upper-alpha; }

.card-asik {
  background: #FFFFFF;
  border-radius: 16px !important;
  box-shadow: 0px 16px 24px #f8F8F8, 0px 2px 6px #f8F8F8, 0px 0rgba #f8F8F8 !important; }
  .card-asik .tittle-card {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #000000; }
  .card-asik .card-posting {
    display: flex;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #8A8A8A;
    gap: 6px; }

.button-asik {
  color: #fff !important;
  background: #1588DB !important;
  border: 1px solid #1588DA !important;
  width: 100% !important;
  border-radius: 14px !important; }
  .button-asik:hover {
    background: none !important;
    border: 1px solid #FFFFFF !important;
    color: #fff !important; }
  @media screen and (max-width: 599px) {
    .button-asik {
      font-size: 8px !important; } }

.tag-button {
  background: #605D5D !important;
  border-radius: 100px !important;
  padding: 10px 15px 10px 15px !important;
  text-transform: capitalize !important;
  color: #fff !important;
  border: 1px solid #605D5D !important; }

.hamberger-menu {
  background: #1588DA !important;
  border-radius: 100px !important; }
  .hamberger-menu svg {
    color: #fff !important; }

.see-all-button {
  color: #1588DA !important;
  background: transparent !important;
  border: 1px solid #1588DA !important;
  text-transform: capitalize !important;
  padding: 10px !important;
  border-radius: 14px !important; }
  .see-all-button:hover {
    background: #1588DA !important;
    border: 1px solid #1588DA !important;
    color: #fff !important; }

.p-10 {
  padding: 15px !important; }

.footer-bg {
  background: #010E36; }

.pagination-area {
  margin: 30px 0 30px 0; }
  .pagination-area .pagination-asik {
    display: flex;
    /* align-items: baseline; */
    justify-content: center;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none; }
    .pagination-area .pagination-asik button {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      background-color: transparent;
      outline: 0;
      border: 0;
      margin: 0;
      border-radius: 0;
      padding: 0;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      -moz-appearance: none;
      -webkit-appearance: none;
      -webkit-text-decoration: none;
      text-decoration: none;
      color: inherit;
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.43;
      letter-spacing: 0.01071em;
      border-radius: 16px;
      text-align: center;
      box-sizing: border-box;
      min-width: 32px;
      height: 32px;
      padding: 0 6px;
      margin: 0 3px;
      color: rgba(0, 0, 0, 0.87); }
    .pagination-area .pagination-asik .disabled {
      opacity: 0.38;
      pointer-events: none;
      cursor: default; }
    .pagination-area .pagination-asik .active {
      color: #fff;
      background-color: #1976d2; }
    .pagination-area .pagination-asik .not-active {
      color: #1588DB;
      background: #DBF0FF; }
    .pagination-area .pagination-asik svg {
      font-size: 16px; }

.search-area {
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: space-around; }
  .search-area .card-search {
    width: 70%;
    border-radius: 15px; }
    .search-area .card-search .heading-search {
      padding: 30px 30px 10px 30px; }
    .search-area .card-search .search-bar {
      padding: 10px 20px 20px 20px;
      display: flex;
      grid-gap: 10px; }
      .search-area .card-search .search-bar button {
        width: 30%; }
    .search-area .card-search .filter-area {
      padding: 10px 20px 20px 20px; }
      .search-area .card-search .filter-area button {
        width: 30%;
        background: #040C25;
        border: 1px solid #1588DA !important;
        text-transform: capitalize !important;
        padding: 10px !important;
        border-radius: 14px !important;
        color: #fff;
        margin: 9px; }
      .search-area .card-search .filter-area .button-inactive {
        background: #F1F5FF;
        border: 1px solid #F1F5FF !important;
        color: #000; }
    @media screen and (max-width: 599px) {
      .search-area .card-search {
        width: 100%; } }

.table-head {
  background: #1588DA; }
  .table-head th {
    color: #fff !important; }

.hero-element-media {
  padding-top: 80px;
  width: 100%;
  min-height: 697px;
  background: #A3D9FF;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.hero-element {
  padding-top: 80px;
  width: 100%;
  min-height: 697px;
  background-image: url("../../assets/img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .hero-element .welcome-text {
    padding: 17% 10% 10% 10%;
    color: #fff;
    text-align: center; }
    .hero-element .welcome-text .welcome-heading {
      font-size: 28px;
      font-weight: 500; }
    @media screen and (max-width: 599px) {
      .hero-element .welcome-text .welcome-heading {
        font-size: 14px;
        height: 350px;
        display: flex;
        align-items: flex-end; } }
  .hero-element .counter-layanan {
    display: flex;
    gap: 12px;
    justify-content: center;
    position: relative;
    text-align: center;
    top: 70px; }
    .hero-element .counter-layanan h4 {
      font-size: 60px; }
      @media screen and (max-width: 599px) {
        .hero-element .counter-layanan h4 {
          font-size: 16px;
          padding: 0 0 10px 0 !important; } }

.widget-center {
  display: flex;
  justify-content: space-between;
  /* gap: 12px; */
  align-items: center; }
  @media screen and (max-width: 599px) {
    .widget-center {
      display: inline-block; } }
  .widget-center .widget-area {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% 20% 20% 20%; }
    @media screen and (max-width: 599px) {
      .widget-center .widget-area {
        grid-template-columns: 23% 23% 23% 23%; } }
    .widget-center .widget-area .widget-button {
      display: flex;
      background: #1FA2FF;
      flex-direction: column;
      /* background: blue; */
      margin: 10px 30px 10px 30px;
      border-radius: 32px;
      color: #fff;
      padding: 32px;
      width: 141px;
      font-size: 16px;
      height: 150px; }
      .widget-center .widget-area .widget-button img {
        width: 20px;
        padding: 0 0 10px 0; }
    @media screen and (max-width: 599px) {
      .widget-center .widget-area .widget-button {
        width: 70px;
        padding: 35px !important;
        margin: 0 5px 10px 5px;
        height: 80px !important;
        font-style: normal;
        font-weight: 500;
        border-radius: 10px;
        font-size: 12px;
        line-height: 15px;
        text-transform: capitalize !important; }
        .widget-center .widget-area .widget-button img {
          width: 20px;
          padding: 0 0 10px 0; } }

.berita {
  margin: 60px 0 0 0; }
  .berita .desc-heading {
    font-size: 28px; }
  .berita .see-all {
    padding: 50px 0 70px 0;
    display: flex;
    justify-content: flex-end; }

.profil {
  padding: 10px 0 10px  0; }

.tentang-lembaga {
  margin: 50px 0 50px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  line-height: 34px; }
  .tentang-lembaga .tugas {
    padding: 10px 0 0 30px; }

.footer-section {
  padding: 30px 0 30px 0; }
  .footer-section .heading-footer {
    background: #040C25;
    border-radius: 14px;
    padding: 16px; }
    .footer-section .heading-footer h5 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #1FA2FF; }
  .footer-section .content-footer {
    padding: 20px 0 20px 0;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF; }
  .footer-section .copyright {
    display: flex;
    justify-content: flex-end; }
    .footer-section .copyright .bappeda-litbang-copyright {
      background: #040C25;
      border-radius: 14px;
      padding: 24px;
      color: #FFFFFF;
      width: 50%; }
      @media screen and (max-width: 599px) {
        .footer-section .copyright .bappeda-litbang-copyright {
          width: 100%; } }

/*# sourceMappingURL=main.css.map */
