body{
    font-family:$primary-font!important;
    background:#fafafa;
}

.button-asik-border-white{
    background:none!important;
    border: 1px solid #FFFFFF!important;
    color:#fff!important; 
border-radius: 14px!important;
width:100%!important;
    &:hover{
        background:#D94148!important;
    border: 1px solid #D94148!important;
    }
    @include lt-sm{
        font-size:8px!important;
    }
}


.button-asik-edit{
    background:none!important;
    border: 1px solid #D94148!important;
    color:#D94148!important; 
border-radius: 14px!important;
width:100%!important;
    &:hover{
        background:#D94148!important;
    border: 1px solid #D94148!important;
    color:#fff!important; 
    }
    @include lt-sm{
        font-size:8px!important;
    }
}

.asik-breadcrumbs{
    margin:13% 0 5% 0;
    @include lt-sm{
        margin: 40% 0 15% 0 !important;
    }
    .no-button{
        background:transparent;
    }

    .active-page{
        background: #ffdbdb;
        border-radius: 14px;
        color: #a70000;
    }
}


.text-capitalize{
    text-transform:capitalize;
}

.test{
  width:33%
}

.list-alfabet{
    list-style-type: upper-alpha;
}

.card-asik{
    background: #FFFFFF;
    border-radius: 16px!important;
      box-shadow: 0px 16px 24px #f8F8F8, 0px 2px 6px #f8F8F8, 0px 0rgba#f8F8F8!important;
    // box-shadow: 0px 16px 24px rgb(0 0 0 / 6%), 0px 2px 6px rgb(0 0 0 / 4%), 0px 0px 1px rgb(0 0 0 / 4%)!important;
    .tittle-card{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        padding:10px 0;
        color: #000000;

    }

    .card-posting{
        display:flex;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;

        color: #8A8A8A;
        gap: 6px;
    }
}

.button-asik{
    color:#fff!important; 
    background:#D94148!important;
    border: 1px solid #D94148!important;
    width:100%!important;  
    padding:10px;
    border-radius: 14px!important;
    &:hover{
        background:none!important;
    border: 1px solid #D94148!important;
    color:#D94148!important; 
    }
    @include lt-sm{
        font-size:8px!important;
    }
}

.tag-button{
    background: #605D5D!important;
    border-radius: 100px!important;
   
    padding: 10px 15px 10px 15px!important;
    text-transform: capitalize!important;
    color:#fff!important; 
    border: 1px solid #605D5D!important;
}


.hamberger-menu{
    background: #1588DA!important;
border-radius: 100px!important;

svg{
    color:#fff!important;
}
}

.see-all-button{
    color:$asik-color2!important; 
    background: transparent!important;
    border: 1px solid $border-asik!important;
    text-transform: capitalize!important;
    padding:10px!important;
    border-radius: 14px!important;
    &:hover{
        background:$asik-bg!important;
    border: 1px solid $border-asik!important;
    color:#fff!important; 
    }
}

.p-10{
    padding:15px!important;
}

.footer-bg{
    background: $asik-bg;
   
}


// .pagination-area{
//     margin:30px 0 30px 0;
//     display: flex;
//     justify-content: space-around;
// }

.pagination-area{
    margin:30px 0 30px 0;
    .pagination-asik{
 
        display: flex;
        /* align-items: baseline; */
        justify-content: center;
        
        
            -webkit-box-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
        
        button{
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            position: relative;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            background-color: transparent;
            outline: 0;
            border: 0;
            margin: 0;
            border-radius: 0;
            padding: 0;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            vertical-align: middle;
            -moz-appearance: none;
            -webkit-appearance: none;
            -webkit-text-decoration: none;
            text-decoration: none;
            color: inherit;
            font-family: "Roboto","Helvetica","Arial",sans-serif;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.43;
            letter-spacing: 0.01071em;
            border-radius: 16px;
            text-align: center;
            box-sizing: border-box;
            min-width: 32px;
            height: 32px;
            padding: 0 6px;
            margin: 0 3px;
            color: rgba(0, 0, 0, 0.87);
        }
        .disabled{
            opacity: 0.38;
            pointer-events: none;
            cursor: default;
        }
        .active{
            color: #fff;
            background-color: #1976d2;
        }

        .not-active{
            color: #1588DB;
            background: #DBF0FF;
            
        }
    
        svg{
            
            font-size: 16px;
    
        }
    }
}

.search-area{
    margin:20px 0 50px 0;
    display:flex;
    justify-content: space-around;
    .card-search{
        width:100%;
        border-radius:15px;
        .heading-search{
            padding:30px 30px 10px 30px;
        }
        .search-bar{
            padding:10px 20px 20px 20px;
            display:flex;
            grid-gap:10px;
            justify-content: space-between;
            input{
                width:330px!important;
            }
        
            button{
                width:30%;
                
            }
        }
        .filter-area{
            padding:10px 20px 20px 20px;
            button{
                width:30%;
                background: #040C25;
                border: 1px solid #1588DA!important;
                text-transform: capitalize!important;
                padding:10px!important;
                border-radius: 14px!important;
                color:#fff;
                margin:9px;
            }

            .button-inactive{
                background: #F1F5FF;
                border: 1px solid #F1F5FF!important;
                color:#000;
            }
        }
        @include lt-sm{
            width:100%;
        }
    }
    
}

.table-head{
    background: #1588DA;
  th{
    color:#fff!important;
  }
}

input:-webkit-autofill {
    box-shadow: transparent;
    -webkit-text-fill-color: #303030!important;
}


.toko-asik{
    img{
        border-radius:15px;
    }
}

.paparan{
    img{
        border-radius:15px;
    }
}


.display-none{
    display:none!important;
}

.info-rancangBangun{
    display: flex;
    align-items: center;
    margin:20px 0 20px 0;
}

.pagination-user{
   
    display: flex;
    justify-content: flex-end;
    .pagination-sidemang{
        display: flex;
        /* align-items: baseline; */
        justify-content: center;
        
        
            -webkit-box-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
        
        button{
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            position: relative;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            background-color: transparent;
            outline: 0;
            border: 0;
            margin: 0;
            border-radius: 0;
            padding: 0;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            vertical-align: middle;
            -moz-appearance: none;
            -webkit-appearance: none;
            -webkit-text-decoration: none;
            text-decoration: none;
            color: inherit;
            font-family: "Roboto","Helvetica","Arial",sans-serif;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.43;
            letter-spacing: 0.01071em;
            border-radius: 16px;
            text-align: center;
            box-sizing: border-box;
            min-width: 32px;
            height: 32px;
            padding: 0 6px;
            margin: 0 3px;
            color: rgba(0, 0, 0, 0.87);
        }
        .disabled{
            opacity: 0.38;
            pointer-events: none;
            cursor: default;
        }
        .active{
            color: #fff;
            background-color: #1976d2;
        }
    
        svg{
            
            font-size: 16px;
    
        }
    }
}