body{
    font-family:$primary-font!important;
    background:#fafafa;
}

.button-asik-border-white{
    background:none!important;
    border: 1px solid #FFFFFF!important;
    color:#fff!important; 
border-radius: 14px!important;
width:100%!important;
    &:hover{
        background: #1588DB!important;
        border: 1px solid #1588DA!important;  
    }
    @include lt-sm{
        font-size:8px!important;
    }
}

.asik-breadcrumbs{
    margin:13% 0 5% 0;
    @include lt-sm{
        margin: 40% 0 15% 0 !important;
    }
    .no-button{
        background:transparent;
    }

    .active-page{
        background: #DBF0FF;
        border-radius: 14px;
        color: #1588DA;
    }
}


.text-capitalize{
    text-transform:capitalize;
}

.test{
  width:33%
}

.list-alfabet{
    list-style-type: upper-alpha;
}

.card-asik{
    background: #FFFFFF;
    border-radius: 16px!important;
    .tittle-card{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        padding:10px 0;
        color: #000000;

    }

    .card-posting{
        display:flex;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;

        color: #8A8A8A;
        gap: 6px;
    }
}

.button-asik{
    color:#fff!important; 
    background: #1588DB!important;
    border: 1px solid #1588DA!important;
    width:100%!important;  
    border-radius: 14px!important;
    &:hover{
        background:none!important;
    border: 1px solid #FFFFFF!important;
    color:#fff!important; 
    }
    @include lt-sm{
        font-size:8px!important;
    }
}

.tag-button{
    background: #605D5D!important;
    border-radius: 100px!important;
   
    padding: 10px 15px 10px 15px!important;
    text-transform: capitalize!important;
    color:#fff!important; 
    border: 1px solid #605D5D!important;
}


.hamberger-menu{
    background: #1588DA!important;
border-radius: 100px!important;

svg{
    color:#fff!important;
}
}

.see-all-button{
    color:#1588DA!important; 
    background: transparent!important;
    border: 1px solid #1588DA!important;
    text-transform: capitalize!important;
    padding:10px!important;
    border-radius: 14px!important;
    &:hover{
        background:#1588DA!important;
    border: 1px solid #1588DA!important;
    color:#fff!important; 
    }
}

.p-10{
    padding:15px!important;
}

.footer-bg{
    background:#010E36;
}