
.hero-element-media{
 
    width: 100%;
    min-height: 330px;
 
    background-image:url('../../assets/img/songket2.jpg'); 
   background-repeat: no-repeat;
  
  color:#fff;
  background-size: 100%;
    background-position: 0 -197px;
    @include lt-sm{
        background-size: cover;
        background-position: -139px -5px;
    }
  .bg-gradient{
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #621a01, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #621a01, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    width: 100%;
    min-height: 330px;
    position:relative;
    opacity: 0.5;
  }
}

  

.toko-asik{
   
    img{
        @include lt-sm{
            display: block;
            width: 50% !important;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.video-asik{
    
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
   @include lt-sm{
    display: block;
    object-fit: cover;
    max-width: none;
   }

}
.hero-element{
 
    width: 100%;
    min-height: 697px;
  
   background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  display: flex;
  
  flex-direction: column;
  justify-content: flex-end;
 
     @include lt-sm{
        min-height: 0;
     }
  .hero-content{
    position: absolute;
    top: 64%;
    width: 100%;
   
    .welcome-text{
        z-index: 999;
        color:#fff;
        text-align: center;
        margin: 3%;
       .welcome-heading{
            font-size:28px;
            font-weight:500;
       }

       @include lt-sm{
           .welcome-heading{
               font-size:14px;
            
               display: flex;
           
               align-items: flex-end;
           }
       }
     
    }
    .counter-layanan{
        display: flex;
        z-index: 999;
        gap: 12px;
        justify-content: center;
       
        text-align: center;
     
        margin:10px;
        @include lt-sm{
            flex-direction: column;
        }
        h4{
            font-size:60px;
            @include lt-sm{
                font-size:16px;
                padding:0  0 10px 0!important;
            }
        }
       }
  }
 
}


.widget-center{
    display: flex;
    justify-content: space-between;
    /* gap: 12px; */
    align-items: center;
    @include lt-sm{
        display:inline-block
    }
    .widget-area{
        display: grid;
        grid-gap: 10px;
        grid-template-columns:25% 25% 25% 25%;
    
        @include lt-sm{
            grid-template-columns: 23% 23% 23% 23% ;
        }
        .widget-button{
            display: flex;
            background:#E32922;
            flex-direction: column;
            margin: 10px 30px 10px 30px;
            border-radius: 32px;
            color: #fff;
            padding: 32px;
            width: 157px;
            height: 190px;
            font-size:16px;
          
           .border-widget{
                background: #FD4D26;
                border: 4px solid #FFFFFF;
                border-radius: 100px;
                padding: 13px;
                @include lt-sm{
                    padding:2px;
                 }
           }
           img{
            width: 20px;
        
            display: flex;
            @include lt-sm{
                padding: 3px;
            }
             }
             p{
                margin:5px;
                 padding:10px;
                 background: #DC3A3D;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 100px;
            width: 100%;
                 &:hover{
                    background: rgba(217, 184, 65, 0.71);
                   
                  
                 }

                 @include lt-sm{
                    font-size: 12px;
                    margin: 7px;
                    padding:0;
                    width: 56px
                 }
             }
          
        }
        @include lt-sm{
            .widget-button {
              
              
                width: 70px;
                padding: 35px !important;
                margin: 0 5px 10px 5px;
                height: 80px !important;
                font-style: normal;
                font-weight: 500;
                border-radius: 10px;
                font-size: 12px;
                line-height: 15px;
                text-transform: capitalize!important;
                img{
                    width:20px;
                  
                }
            }
        }
    }
 
}


.berita{
    margin: 60px 0 0 0;
    .desc-heading{
        font-size: 28px;

    }

    .see-all{
        padding: 50px 0 70px 0;
        display: flex;
        justify-content: flex-end;
    }
}


.tentang-lembaga{
    .list-pegawai{
        display:flex!important;
        align-items: flex-start;
        @include lt-sm{
            flex-direction: column;
        }
    }
   
}

.daftar-peneliti{
    .heading{
        margin:20px;
    }
}

.pagination-card{
    margin:20px 0 20px 0;
}


.detail-inovasi{
    margin:20px 0 20px;
    .judul-inovasi{
        font-weight: 500;
        text-transform: capitalize;
        margin:20px 0 20px;
    }
    .hasil-inovasi{
        margin:10px 0 10px;
        display:grid;
        grid-template-columns: 15% 1% 84%;
        grid-gap:10px;
    }

    .lampiran{
        margin:20px 0 20px;
        .lampiran-file{
            margin:40px 0 20px;

            .label{
                margin:20px 0 20px;
            }
        }
    }
}

.informasi{
    display: flex;
    align-items: center;
}

.detail-berita{
    margin:20px 0 20px;
    .judul-inovasi{
        font-weight: 500;
        text-transform: capitalize;
        margin:20px 0 20px;
    }

    .share-button{
        margin:10px 0;
    }

    .tanggal-pelaksanaan{
        margin:10px 0;
    }

    .thumbnail-berita{
        max-width:100%;
        width:100%;
    }
    .hasil-inovasi{
        margin:10px 0 10px;
        display:grid;
        grid-template-columns: 15% 1% 84%;
        grid-gap:10px;
    }

    .lampiran{
        margin:20px 0 20px;
        .lampiran-file{
            margin:40px 0 20px;

            .label{
                margin:20px 0 20px;
            }
        }
    }
}

.tittle-kajian{
   
        text-transform: lowercase;
        font-weight: 400;
        &::first-letter{
            text-transform: uppercase;
        }
}



