
.hero-element{
    padding-top: 80px;
    width: 100%;
    min-height: 697px;
   background-image:url('../../assets/img/hero.png');
   background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
    .welcome-text{
        padding: 17% 10% 10% 10%;
        color:#fff;
        text-align: center;
       .welcome-heading{
            font-size:28px;
            font-weight:500;
       }
     
    }
    .counter-layanan{
        display: flex;
        gap: 12px;
        justify-content: center;
        position: relative;
        text-align: center;
        top: 70px;

        h4{
            font-size:60px;
        }
       }
}


.widget-center{
    display: flex;
    justify-content: space-between;
    /* gap: 12px; */
    align-items: center;
    @include lt-sm{
        display:inline-block
    }
    .widget-area{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 20% 20% 20% 20% ;
    
        @include lt-sm{
            grid-template-columns: 23% 23% 23% 23% ;
        }
        .widget-button{
            display: flex;
            background: #1FA2FF;
            flex-direction: column;
            /* background: blue; */
            margin: 10px 30px 10px 30px;
            border-radius: 32px;
            color: #fff;
            padding: 32px;
            width: 141px;
            font-size:16px;
           height: 150px;
           img{
            width:20px;
            padding:0 0 10px 0;
        }
          
        }
        @include lt-sm{
            .widget-button {
              
              
                width: 70px;
                padding: 35px !important;
                margin: 0 5px 10px 5px;
                height: 80px !important;
                font-style: normal;
                font-weight: 500;
                border-radius: 10px;
                font-size: 12px;
                line-height: 15px;
                text-transform: capitalize!important;
                img{
                    width:20px;
                    padding:0 0 10px 0;
                }
            }
        }
    }
 
}