/*font Variables*/
$primary-font: 'Inter', sans-serif;
$asik-bg: #1FA2FF;

/*=================== fonts ====================*/


@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/fonts/Manrope-Regular.ttf');
}
