/*font Variables*/
$primary-font: 'Inter', sans-serif;
$asik-bg: #A70000;
$asik-color: #A70000;
$asik-color2:#DC3A3D;
$border-asik: #C9222A;
$asik-bg2:#800000;
$yellow-asik:#DC8E38;
/*=================== fonts ====================*/


@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/fonts/Manrope-Regular.ttf');
}
